<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-inverse"> <!--navbar-light static-top-->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome to Image store app</a>
        </div>
        <div id="myDiv">
            <ul class="nav navbar-nav">
                <li class="active nav-item yo">
                    <a class="nav-ink" href="{{ home_page }}">Home</a>
                </li>
                <li class="nav-item yo">
                    <a class="nav-link" href="#about"> About us <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container">
    {% for category,message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
    {% endfor %}
</div>
<!--<div class="image_store form-group">-->
<!--    <p>Select any image file and click on upload</p>-->
<!--    <form action="http://localhost:5000/upload" method="POST"-->
<!--          enctype="multipart/form-data">-->
<!--        <input type="file" name="file" accept="image/*"/>-->
<!--        <input type="submit" class="btn-primary"/>-->

<!--    </form>-->
<!--</div>-->
<form action="{{ upload_page }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File:</label>
        <input type="file" class="form-control" name="file" id="file" accept="image/*">
    </div>
    <div class="form-group">
        <button type="submit" class=" btn btn-primary"> Submit</button>
    </div>
    <div class="form-group">
        <input type="checkbox" name="password_protected"> <label>Password protected</label>
        <input type="password" name="password"/>
    </div>
</form>
</body>
</html>